*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #DEDEDE;
}
/*=== HEADER ===>*/
header{
	/*height: 60px;*/
	width: 100%;
	background-color: #333333;
	display: inline-block;
}
ul.top_menu{
	float: right;
	margin-right: 20px;
}
ul.top_menu li{
	float: left;
	line-height: 59px;
	margin-right:20px;
}
ul.top_menu li a{
	text-decoration: none;
    color: #fafafa;
}

/*=== CENTER====*/
box{
	display: block;
	width: 90%;
	padding: 20px;
	border: 1px solid #ccc;
	margin: 20px auto;
	box-shadow: 2px 2px 1px #666;
	background-color: #fff;
}
h1{
	margin-top: 20px;
}
h2{
	margin-top: 20px;
	color: #888888;
}
h4{
	margin-top: 20px;
	color: #999999;
}
p{
	line-height: 26px;			
	text-indent: 2em;
}
ul.sec_box_ul{
	margin: 10px 0  0 15px;
	list-style-type: none;
}
ul.sec_box_ul li{
	margin-top: 5px;
	font-weight: 900;
	/*非渐变*/
}
dl{
	width: 250px;
	height: 170px;
	border: 1px solid #ccc;
	margin-left: 50px ; 
	margin-top: 30px; 
}
dl dt{
	line-height: 25px;
	text-align: center;
}
dl dd{
	margin: 10px 0 0 20px;
}
ol{
	margin: 20px 0 20px 50px;
	font-weight: 900;
}
table{
	width: 100%;
	border-collapse: collapse;
}
th, td{
	border: 1px solid #ccc;
	text-align: left;
	padding: 5px 10px;
}
thead{
	background-color: #222;
	color: #fafafa;
}
tfoot{
	background-color: #ccc;
	font-weight: 900;

}
div.line{
	width: 3px;
	height: 40px;
	background-color: #BBBBBB;
	margin: 6px 8px 0 8px;
	/*display: inline-block;*/
}
div.biaodan{
	width: 90%;
	margin: 30px 0 0 0;
}
div.inp_part div{
	margin-left: 20%;
	margin-top:5px; 
}
div.inp_part p{
	margin-left: 30%;
	color: #777777;
}

div.inp_part2 div{
	margin-left: 30%;
	margin-top: 7px;
}
textarea {
    width: 70%;
    font-size: 18px;
    font-weight: bold;
    vertical-align: top;
    position: relative;
    top: 10px;
  }
input.btn_submit{
	width: 100%;
	height: 36px;
	background-color: #3355D0;
	margin-top: 20px;
	border-radius: 10px;
	color: #fafafa;
	font-weight: 900;
	font-size: 20px;
}

/*==FOOTER==*/
footer{
	width: 100%;
	height: 60px;
	background-color: #000;	
}
footer span{
	margin-left:47%; 
	color: #fafafa;
	font-size: 16px;
	line-height: 60px;
}





